.footer {
    position: fixed;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f7ca18;
}

.item {
    margin: 50px;
}