.todoform {
    background: white;
    border-radius: 8px;
    padding: 10px;
    width: 500px;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.modernInput {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    color: black;
}

.modernInput:focus {
    outline: none;
}

.modernButton {
    background: #f7ca18;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}